<div>
    <h2 id="page-heading">
        <span>Ent Ones</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ent-one" [routerLink]="['/ent-one/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Ent One
            </span>
        </button>
    </h2>

    <cg-alert-error></cg-alert-error>

    <cg-alert></cg-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="entOnes?.length === 0">
        <span>No entOnes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="entOnes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Field One</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entOne of entOnes ;trackBy: trackId">
                    <td><a [routerLink]="['/ent-one', entOne.id, 'view']">{{ entOne.id }}</a></td>
                    <td>{{ entOne.fieldOne }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ent-one', entOne.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ent-one', entOne.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(entOne)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
