@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  background-color: #0070ad;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

.navbar-title{
  color:#edf1f3
}

.nav-link{
  color:#edf1f3
}

  a.nav-link {
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 60px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/cg_logo_main.png') no-repeat center center;
  background-size: contain;
}
